.container {
    display:block;
    margin:0 auto;
}
.calendar {
    display:grid;
    grid-template-columns: repeat(7, 170px);
    grid-template-rows: repeat(6, 100px);
    background-color:white;
    width: 1200px;
    height: 1000px;  
}
.calendar .day {
    height: 120px;
    width: 170px;
}
.calendar .day img{
    width:90%;
}
.rbc-btn-group:last-child {
    display:none;
}